<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Combat Blog</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">
          <h1>Combat Blog</h1>
        </a>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About us</h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        dolorem, adipisci voluptate magni voluptatum laborum doloribus.
        Exercitationem eum atque ad saepe dolorum, hic ipsa odit. Ratione
        eligendi culpa repellendus iste?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        dolorem, adipisci voluptate magni voluptatum laborum doloribus.
        Exercitationem eum atque ad saepe dolorum, hic ipsa odit. Ratione
        eligendi culpa repellendus iste?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        dolorem, adipisci voluptate magni voluptatum laborum doloribus.
        Exercitationem eum atque ad saepe dolorum, hic ipsa odit. Ratione
        eligendi culpa repellendus iste?
      </p>
    </div>
  </body>
</html>
